.header{
    width: 100%;
    background-color: goldenrod;
    min-width: 800px;
    min-height: 100px;
}

.container{
    padding: 10px 50px 0 50px;
    max-width: 800px;
}

.headText{
    text-align: center;
    padding-top: 15px;
}

.education{
    padding: 0 20px 0 20px;
}

.experience{
    padding: 0 20px 0 20px;
}

.header p{
    text-align: center;
}

.eduText{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.flexChild{
    display: flex;
    flex-direction: column;
}

.flexChild p{
    margin: 8px;
    width: 100%;
}

